body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #26d0ce, #1a2980);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }
  
  button,
  .data-collection-form button {
    background-color: #ff512f;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  
  }
  
  button:hover,
  .data-collection-form button:hover {
    background-color: #ff512f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .field-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  .label-field-data {
    display: flex;
    align-items: center;
  
  }
  
  .field-form button {
    flex-basis: calc(25% - 10px);
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 37.5%;
    
  }
  
  .field-form button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
    
  }
  